@model WebApplicationMVC.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employeedetails</title>
</head>
<body>
    <div>
        <p>emp ID: @Model.Id</p>
        <p>emp Name: @Model.Name</p>
        <p>emp age:  @Model.Age</p>
        <p>emp phone:  @Model.Phone</p>
    </div>
</body>
</html>
