@model WebApplicationMVC.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>studentdetails</title>
</head>
<body>
    <div>
        <p>Student ID: @Model.Id</p>
        <p>Student Name: @Model.Name</p>
        <p>Student age:  @Model.Age</p>
    </div>
</body>
</html>
